.interTr2{margin-bottom:150;}
.interTd1{width:140px; padding-bottom:30px; border: #e6e6e6 solid; border-width: 0px 0px 1px 0px;}
.interTd2{width:400px; padding-top:10px; padding-left:12px;}
.interTd3{width:200px; height:60px; padding-top:25px; padding-left:10px;}
.interTd4{width:70px; padding-left:10px; padding-bottom:160px; border: #e6e6e6 solid; border-width: 0px 0px 1px 0px;}
.interTd5{width:70px; padding-right:10px; padding-bottom:160px; border: #e6e6e6 solid; border-width: 0px 0px 1px 0px;}
.interTd6{padding-left:12px; padding-bottom:130px; border: #e6e6e6 solid; border-width: 0px 0px 1px 0px;}
.price_font1{font-size:12px; color:#f24443;}
.price_font2{font-size:12px; color:#959595;}
.site_font1{font-size:12px; color:#2195f5;}
.site_font2{font-size:12px; color:#959595;}
.shop_font{font-weight:bold; font-size:13px;}
.book_title{font-size:20px;
    font-weight:900;
    font-family:'맑은 고딕','Malgun Gothic','Apple SD Gothic Neo',AppleGothic,'돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;
    }
.book_title:hover{text-decoration:underline;}
.price_font1:hover{text-decoration:underline; color:#f24443;}
.price_font2:hover{text-decoration:underline; color:#959595;}
.author_font{font-size:12px; color:#000; font-weight:700;}
.publish_font{font-size:12px; color:#999;}
.author_div{display:block;}
.min_price_font{font-weight:700; font-size:20px; color:#f24443; font-family:helvetica,Arial,sans-serif,NanumGothic; }
.min_price_div{display:block;}
.min_price_nothing{font-weight:500; font-size:15px; color:#f24443;}
.cat_font{font-size:12px; color:#999;}
.cat_div{display:block;}
.release_div{display:block; margin-top:3px;}
.release_font{color:#000; font-weight:700; font-size:13px; font-family:돋움,Dotum,AppleGothic,serif;}