.interTr1{}
.interTr2{height:180px;}
.interTd1{width:140px;}
.interTd2{width:400px; padding-top:10px; padding-left:12px;}
.interTd3{width:200px; height:60px; padding-top:25px; padding-left:10px;}
.interTd4{width:70px; padding-left:10px; padding-bottom:100px;}
.interTd5{width:70px; padding-right:10px; padding-bottom:100px;}
.interTd6{padding-left:12px; padding-bottom:140px; }
.price_font1{font-size:12px; color:#f24443;}
.price_font2{font-size:12px; color:#959595;}
.site_font1{font-size:12px; color:#2195f5;}
.site_font2{font-size:12px; color:#959595;}
.shop_font{font-weight:bold; font-size:13px;}
.book_title{font-size:20px;
    font-weight:900;
    font-family:'맑은 고딕','Malgun Gothic','Apple SD Gothic Neo',AppleGothic,'돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;
    }
.book_title:hover{text-decoration:underline;}
.price_font1:hover{text-decoration:underline; color:#f24443;}
.price_font2:hover{text-decoration:underline; color:#959595;}
.author_font{font-size:12px; display:block;}
.min_price_font{display:block; margin-top:10px;}