<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>검색</title>
            <link rel="icon" href="img/core-img/favicon.png">
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/interBook.css">

    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/classy-nav.min.js"></script>
    <script src="js/active.js"></script>
    <script src="js/includeHTML.js"></script>
    </head>

    <body>

<!--        <form method="post" action="/search.html">-->
<!--            <input type="text" name="keyword"> <br>-->
<!--            <button type="submit">입력</button>-->
<!--        </form>-->
       <div id="headers"></div>
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb_area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>책 찾아보기</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="shop_grid_area section-padding-80">
    <div class="container" align="center">
            <div class="col-12 col-md-8 col-lg-9">
                <div class="shop_grid_product_area">
                    <div class="row">
                        <div align="center">
                            <table border="0">
                                <tr>
                                    <td width="1000" align="center">
                                        <form method="post" action="search.html">
                                            <input style="width:350px" type="text" name="keyword">
                                            <button type="submit">검색</button>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                            <table border="0"> <!-- 밑줄부터 반복-->
                                <tr class="interTr1">
                                    <td class="interTd1" rowspan="2">
                                        <a href="#">
                                            <img src="img/product-img/new1.jpg" width="140px"s alt="">
                                        </a>
                                    </td>
                                    <td class="interTd2">
                                            <span>
                                                <a href="#" class="book_title" title="책제목">{{ json[1]['bookList'][0]['books'][0]['title'] }}</a>
                                            </span>
                                    </td>
                                    <td class="interTd3" colspan="2">
                                        <span class="shop_font">쇼핑몰별 최저가</span>
                                    </td>
                                </tr>
                                <tr class="interTr2">
                                    <td class="interTd6">
                                        <div class="author_div">
                                            <span class="author_font" title="저자">커크 월리스 존슨<!--저자 --></span>
                                            <span class="publish_font">저</span>&nbsp;
                                            <span class="publish_font" >|</span>&nbsp;
                                            <span class="publish_font" title="출판사">흐름출판<!--출판사 --></span>&nbsp;
                                            <span class="publish_font">|</span>&nbsp;
                                            <span class="publish_font" title="출판일">2019년 05월 07일<!--출판일 --></span>
                                        </div>
                                        <div class="min_price_div">
                                            <span class="min_price_nothing">최저</span>&nbsp;
                                            <span class="min_price_font" title="최저가격">1,000<!--책 가격 --></span>
                                            <span class="min_price_nothing">원</span>
                                        </div>
                                        <div class="cat_div">
                                            <span class="cat_font" title="카테고리">한국소설<!--카테고리--></span>
                                        </div>
                                        <div class="release_div">
                                            <span class="release_font">출고&nbsp;예상일&nbsp;:&nbsp;1&nbsp;일&nbsp;이내</span>
                                        </div>
                                    </td>
                                    <td class="interTd4" align="left">
                                        <span class="site_font1" title="사이트1">인터파크<!--사이트1 --></span>
                                        <br>
                                        <span class="site_font2" title="사이트2">yes24<!--사이트2 --></span>
                                        <br>
                                        <span class="site_font2" title="사이트3">옥션<!--사이트3 --></span>
                                    </td>
                                    <td class="interTd5" align="right">
                                        <span>
                                            <a href="#" class="price_font1" title="사이트1 가격">1,000원<!-- 사이트1 가격 --></a>
                                        </span>
                                        <br>
                                        <span>
                                            <a href="#" class="price_font2" title="사이트2 가격">1,000원<!-- 사이트2 가격 --></a>
                                        </span>
                                        <br>
                                        <span>
                                            <a href="#" class="price_font2" title="사이트3 가격">1,000원<!-- 사이트3 가격 --></a>
                                        </span>
                                        <br>
                                    </td>
                                </tr> <!-- 여기까지 -->
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Pagination -->
                <table>
                    <tr>
                        <td>
                            <nav aria-label="navigation">
                                <ul class="pagination mt-50 mb-70">
                                    <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                                    <li class="page-item"><a class="page-link" href="#">21</a></li>
                                    <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </nav>
                        </td>
                    </tr>
                </table>


            </div>

    </div>
</section>
<div id="footers"></div>

</body>

</html>